:root {
  --color1: #282b2c ; 
  --color2: #FFF9C4 ; 
  --color3: white ; 
  --color4: #f8fdfe ;
  --color5: #b3c5c8   ;
  --color6: #E0F7FA ; 


}
.backgroundImage {
  background-image: url('./fortbackgrey.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh; /* Set a fixed height to fill the viewport */
  overflow-y: scroll;
}


.backgroundImageLoad {
  background-image: url('./fortbackgrey.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.centeredDiv {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 120px;
}


.headerTextColor {
  font-size: xxx-large;
  color: #FFF9C4;
}

.rankingText {
  background-color: #E0F7FA;
  color: black;
  padding: 10px;
  text-align: left;
  border-radius: 0 200px 200px 0;
  position: relative
}

.ticketText {
  background-color: #E0F7FA;
  color: black;
  padding: 10px;
  text-align: left;
  border-radius: 20px;
margin-top:20px;
margin-bottom: 40px;
}
.courtText {
  background-color: var(--color5);
  color: black;
  padding: 10px;
  text-align: left;
  border-radius: 20px;
margin-top:20px;
margin-bottom: 40px;
}

.rankingText:hover {
  background-color: #b4ecf3;
}

.displaySizing {
  padding-left: 10%;
  padding-right: 10%;
}

.nameFont {
  font-size: 7.2vmin;
  color: #F9A825;
  white-space: nowrap;
}



.statsFontExpandTag {
  font-size: 4vmin;
  font-style: italic;
  color: black;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.tagFont {
  font-size: 3vmin;
  font-style: italic;
  color:var(--color1);
  margin-top: 30px;
  padding: 0;
}

.statsFont {
  font-size: 5vmin;
  color: black;
  white-space: ;
}

.statsFontExpand {
  font-size: 4vmin;
  color: black;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.numberFont {
  font-size: xx-large;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.expandedText {
  background-color: #9ee6ef;
  color: black;
  padding: 0;
  text-align: ;
  padding-top: 40px;
  padding-bottom: 5px;
  border-radius: 0 200px 200px 0;
  transform: translateY(-30px);
  position: relative;
  width: 100%;
  /* Ensure it spans the entire width of its container */
  bottom: 0;

}

.expandedText2 {
  background-color: #9ee6ef;
  color: black;
  padding: 0;
  text-align: ;
  padding-top: 40px;
  padding-bottom: 5px;
  border-radius: 200px ;
  transform: translateY(-30px);
  position: relative;
  width: 100%;
  /* Ensure it spans the entire width of its container */
  bottom: 0;

}

.upZ {
  z-index: 4;
  position: relative
}

.downZ {
  z-index: 1;
  position: relative
}

.headerTextColorComparison {
  font-size: xx-large;
  color:var(--color2);
  font-size: 7vmin;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  margin-top: 30px;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.fade-in {
  animation: fadeInAnimation 0.3s ease-in-out;
}

@keyframes fadeInAnimation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.inspoText {
  font-size: x-large;
  margin-top: 30px;
  color:var(--color2);
  font-style: italic;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);

}

.yellowRow {
  color: yellow;
  font-size: 5vmin;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);


}

.chart-container {
  position: relative;
  width: 100%;
  height: 80vmin; /* Ensure the height is set */
}




.otherRow {
  color:var(--color2);
  font-size: 5vmin;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);


}

.headerTextColorComparisonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.graphBackground{
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 30px;
  color: white;
}
.buttonColor  {
  font-size: x-large;
  margin-top: 30px;
  color:var(--color2);
  background-color:var(--color1) ;

}
.CrimeList {
  font-size: 20px;
  font-family: Arial;
}
.minutesText {
  color: var(--color5);
  font-size: 4vmin;
  text-shadow: 2px 2px #282b2c; /* You can adjust the offset and color as needed */
}
.minutesTextEven {
  color: var(--color6);
  font-size: 4vmin;
  text-shadow: 2px 2px #282b2c; /* You can adjust the offset and color as needed */
}
.minutesHeaderText {
  color: var(--color6);
  font-size: 6vmin;
  text-shadow: 2px 2px #282b2c; /* You can adjust the offset and color as needed */
}
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 2px; /* Margin between columns */
  margin: 0px 0;
}



th, td {
  padding: 200px;
  text-align: left;
  cursor: pointer; /* Change cursor to pointer on headers */
  width: 14.28%; /* 100% divided by 7 columns */
  border: red 1px solid;

}


tr:nth-child(even) {
  background-color: var(--color5);
}


.oldStatsBackground {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 30px;
  color: white;
  font-size: 3vmin;
  text-shadow: 1px 1px #282b2c; /* You can adjust the offset and color as needed */
  overflow-x: auto; /* Enable horizontal scrolling if needed */
  padding: 20px;
}


.oldStatsTable {
  width: 100%;
  border-collapse: collapse;
}

.oldStatsTable th, .oldStatsTable td {
  padding: 2px;
  text-align: left;
}

.oldStatsTable th {
  cursor: pointer;
}

.blackAndWhite {
  background-color: black;
  color: white;
  width: 100vw;
  overflow: hidden;

}

.blackAndWhite h1 {
  background-color: white;
  color: black;
}

.blackAndWhite h3 {
  background-color: black;
  color: white;
}

.blackAndWhite .rankingText
{
  background-color:white;
  color: black;
}
.blackAndWhite .expandedText{
border: 1px white solid;
 background-color: black;
  color: white;
}

.blackAndWhite h2 {
  background-color: black;
  color: white;
/*  margin: 0; Add this line to remove the margin */
}

.blackAndWhite tr:nth-child(even) {
  background-color: #f0f0f0;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.alignVertical {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally if needed */
}
